@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";

.myDiv {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #A68263;
}

.droptarget {
    float: left;
    width: 100px;
    height: 35px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

.uploadLabel {
    position: relative;
    width: 448px;
    height: 72px;
    border-radius: 20px;
    background-color: #A68263;
}
