.mainImage {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('https://llytonca.sirv.com/mainImage.webp');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment: scroll;
    z-index: -9999999;
}

.sponsoredAd {
    width: 100%;
    height: auto;
    margin-top: 20px;
    font-family: lato;
    font-weight: bold;
    text-align: center;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid rgba(10, 11, 13, 0.5);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.captokButton {
    min-height: 30px;
    width: 100%;
    border: none;
    background-color: #AE896A;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.en {
    display: block;
}

.cn {
    display: none;
}

body {
    height: 100%;
    padding-left: 7%;
    padding-right: 7%;
}

a {
    text-decoration: none;
    color: #0A0B0D;
    font-size: 13.5px;
}

h1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
}

h2 {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: x-large;
    color: #0A0B0D;
}

h3 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: x-large;
}

.myDiv {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #A68263;
}

.header {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: small;
}

.navCross {
    display: none;
}

.droptarget {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background: rgba(217, 217, 217, 0.4);
    border: 1px solid rgba(10, 11, 13, 0.5);
    box-sizing: content-box;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.insideDropTarget {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
}

.droptargetResults {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* margin-left: 0%; */
    width: 500px;
    height: auto;
    background: rgba(217, 217, 217, 0.4);
    border: 1px solid rgba(10, 11, 13, 0.5);
    box-sizing: content-box;
    border-radius: 20px;
    justify-content: space-between;
    align-content: center;
}

/* if I want the icon over the label make the parent relative then the child absolute */

.uploadLabel {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 60px;
    width: 100%;
    border-radius: 20px;
    background-color: #A68263;
}

.uploadLabel:hover {
    cursor: pointer;
    background-color: #977658;
}

.uploadLabel:active {
    background-color: #8b6e52;
}

.uploadIcon {
    position: absolute;
    right: 0px;
    margin-right: 11%;
}

.animation {
    width: 65%;
    max-width: 160px;
    display: flex;
    justify-content: center;
}

/* flex */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.leftSide {
    flex: 54%;
}

.rightSide {
    flex: 38%;
}

.spaceMiddle {
    flex: 8%;
}

.topBoxRight {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.tick {
    height: 0.8em;
}

.disableClick {
    pointer-events: none;
    opacity: 50%;
}

.mobileImage {
    display: none;
}

.logo {
    margin-left: -30px;
}

.examplesMargin {
    margin-top: 12%;
}

.navBurger {
    display: none;
}

.donations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    body {
        padding-left: 8px;
        padding-right: 8px;
    }

    .navCross {
        display: block;
    }

    .nav {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 15px;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 15px;
        background-color: #D3D3D1;
        z-index: 99999999999;
    }

    .nav>* {
        font-size: x-large;
    }

    .navBurger {
        display: block;
    }

    #starsIconCheckout {
        height: 25px;
        margin-right: 15px;
    }

    h1 {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
    }

    h2 {
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: x-large;
        color: #0A0B0D;
    }

    .row {
        flex-direction: column;
        margin-top: 0;
    }

    .spaceMiddle {
        display: none;
    }

    .mobileImage {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -99;
    }

    .mainImage {
        display: none;
    }

    .greyBackground {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #D3D3D1;
        z-index: -999;
    }

    .logo {
        margin-left: 0px;
    }

    .mobileHide {
        display: none;
    }

    .droptarget {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background: none;
        border: none;
        box-sizing: content-box;
        border-radius: none;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .insideDropTarget {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
    }

    .uploadLabel {
        height: 50px;
    }

    .examplesMargin {
        margin-top: 15px;
    }

    vm-controls {
        --vm-controls-padding: 0px 0px 0px 0px !important;
    }

    .droptargetResults {
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        height: auto;
        background: none;
        border: none;
        box-sizing: content-box;
        border-radius: none;
        justify-content: space-between;
        align-content: center;
        overflow: hidden;
    }

    #thankYou {
        margin: 15px;
    }

    .resultIcons {
        height: 40px;
    }

    .resultIconsDiv {
        margin: 15px !important;
    }

    .select-selected {
        height: 30px;
    }

    .select-items div,
    .select-selected {
        height: 30px;
        font-size: 18px;
    }

    /* arrow */
    .select-selected:after {
        top: 12px !important;
    }

    .select-selected.select-arrow-active:after {
        top: 6px !important;
    }

    .mobileNoMargin {
        margin: 0px;
    }
}

/* upload loading bar */

.progress-line {
    background-color: #A68263;
    border-radius: 6px;
    height: 6px;
    width: 1%;
    transition: width 1s;
}

/* timed loading bar */

.timed-progress,
.timed-progress:before {
    height: 6px;
    width: 100%;
    margin: 0;
    border-radius: 6px;
}

.timed-progress {
    display: flex;
    background-color: #AE896A;
    animation: running-progress;
}

@keyframes running-progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.timed-progress-20 {
    display: flex;
    background-color: #AE896A;
    animation: running-progress-20;
    animation-duration: 29s;
    border-radius: 6px;
    height: 6px;
}

@keyframes running-progress-20 {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

/* audio */

.audioPlayer {
    /* height: 20px; */
    width: 100%;
}

/* this has to be the last class */

.hideElement {
    display: none;
}

.dropdownOptions {
    width: 100%;
    cursor: pointer;
}

.custom-select {
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 13.5px;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid #0A0B0D;
    border-color: #00000075 transparent transparent transparent;
    border-radius: 3px;
}

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #00000075 transparent;
    top: 3px;
}

/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    user-select: none;
    padding: 1px;
    padding-left: 3px;
    box-sizing: border-box;
    font-size: large;
}

/*style items (options):*/

.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: #dfdfdf;
    cursor: default;
}