/* @import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass"; */

.mainImage {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('https://llytonca.sirv.com/mainImage.webp');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: scroll;
    z-index: -9999999;
}

body {
    height: 100%;
    padding-left: 7%;
    padding-right: 7%;
}

h1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
}

h2 {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: x-large;
    color: #0A0B0D;
}

h3 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: x-large;
}

.myDiv {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #A68263;
}

.header {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.droptarget {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background: rgba(217, 217, 217, 0.4);
    border: 1px solid rgba(10, 11, 13, 0.5);
    box-sizing: content-box;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.insideDropTarget {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
}

.droptargetResults {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    width: 500px;
    height: auto;
    background: rgba(217, 217, 217, 0.4);
    border: 1px solid rgba(10, 11, 13, 0.5);
    box-sizing: content-box;
    border-radius: 20px;
    justify-content: space-between;
    align-content: center;
}

/* if I want the icon over the label make the parent relative then the child absolute */

.uploadLabel {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 60px;
    width: 100%;
    border-radius: 20px;
    background-color: #A68263;
}

.uploadIcon {
    position: absolute;
    right: 0px;
    margin-right: 4%;
}

.animation {
    width: 65%;
    display: flex;
    justify-content: center;
}

.dropdownOptions {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: none;
}

/* flex */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.leftSide {
    flex: 54%;
}

.rightSide {
    flex: 38%;
}

.spaceMiddle {
    flex: 8%;
}

.topBoxRight {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.tick {
    height: 0.8em;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
    .spaceMiddle {
        display: none;
    }
}

/* infinate loading bar */

.progress-line, .progress-line:before {
    height: 6px;
    width: 100%;
    margin: 0;
    border-radius: 6px;
}

.progress-line {
    background-color: rgba(255, 255, 255, 0.5);
    display: -webkit-flex;
    display: flex;
}

.progress-line:before {
    background-color: #B2B3B3;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}

@keyframes running-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    50% {
        margin-left: 25%;
        margin-right: 0%;
    }
    100% {
        margin-left: 100%;
        margin-right: 0;
    }
}

/* timed loading bar */

.timed-progress, .timed-progress:before {
    height: 6px;
    width: 100%;
    margin: 0;
    border-radius: 6px;
}

.timed-progress {
    background-color: rgba(255, 255, 255, 0.5);
    display: -webkit-flex;
    display: flex;
}

.timed-progress:before {
    background-color: #AE896A;
    content: '';
    -webkit-animation: running-progress1 55s cubic-bezier(.44, .72, .8, .79);
    animation: running-progress1 55s cubic-bezier(.44, .72, .8, .79);
}

@-webkit-keyframes running-progress1 {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    100% {
        margin-left: 0;
        margin-right: 0;
    }
}

@keyframes running-progress1 {
    0% {
        margin-left: 0px;
        margin-right: 100%;
    }
    100% {
        margin-left: 0;
        margin-right: 0;
    }
}

/* audio */

.audioPlayer {
    /* height: 20px; */
    width: 100%;
}

/* this has to be the last class */

.hideElement {
    display: none;
}